/*
	This file is part of PHPwnage (Aeolus Theme)

	Copyright 2008 Kevin Lange <klange@ogunderground.com>

	PHPwnage is free software: you can redistribute it and/or modify
	it under the terms of the GNU Generald Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	PHPwnage is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with PHPwnage. If not, see <http://www.gnu.org/licenses/>.

*/

 /* basic table, used for panels and subheader bars, etc. */
.borderless_table {
    border-width: 0px;
    border-spacing: 0px;
    border-style: none none none none;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

 /* text in the body of a sub header */
.sub_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
}

 /* text in the body of a panel */
.pan_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
}

 /* text in the title of a panel */
.pan_title_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
    font-weight: bold;
    color: #112255;
}

 /* text in the body of a panel (Deprecated) */
.block_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
}

 /* text in the title of a panel */
.block_title_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
    font-weight: bold;
    color: #112255;
}

 /* left header */
.head_left	{
    background-image: url(aeolus/header_left.png);
    height:106px;
    width:416px;
}

 /* middle, tiling header */
.head_mid	{
    background-image: url(aeolus/header_middle.png);
    height:106px;
}

 /* right header */
.head_right	{
    background-image: url(aeolus/header_right.png); 
    width:94px;
    height:106px;
}

 /* sub header */
.sub_left {
    background-image: url(aeolus/sub.png);
    height:20px;
    width:10px;
}

.sub_mid {
    background-image: url(aeolus/sub.png);
    height:20px;
    vertical-align: middle;
}

.sub_right {
    background-image: url(aeolus/sub.png);
    height:20px;
    width:10px;
}

 /* button */
.but_left {
    background-image: url(aeolus/but_left.png);
    height:16px;
    width:16px;
}

.but_mid {
    background-image: url(aeolus/but_mid.png);
    height:16px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.but_right {
    background-image: url(aeolus/but_right.png);
    height:16px;
    width:16px;
}

 /* Panel */
 /* Upper Left */
.pan_ul {
    background-image: url(aeolus/top_left.png);
    height:29px;
    width:15px;
}

 /* Top middle */
.pan_um {
    background-image: url(aeolus/top_mid.png);
    height:29px;
}

 /* Upper right */
.pan_ur {
    background-image: url(aeolus/top_right.png);
    height:29px;
    width:15px;
}

 /* Left  */
.pan_ml {
    background-image: url(aeolus/mid_left.png);
    width:15px;
}

 /* body */
.pan_body {
    background-image: url(aeolus/body.png);
    padding: 3px 3px 3px 3px;
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

 /* right  */
.pan_mr {
    background-image: url(aeolus/mid_right.png);
    width:15px;
}

 /* bottom left */
.pan_bl {
    background-image: url(aeolus/bot_left.png);
    height:7px;
    width:15px;
}

 /* bottom middle  */
.pan_bm {
    background-image: url(aeolus/bot_mid.png);
    height:7px;
}

 /* bottom right */
.pan_br {
    background-image: url(aeolus/bot_right.png);
    height:7px;
    width:15px;
}

 /* Block */
 /* Upper Left */
.block_ul {
    background-image: url(aeolus/top_left.png);
    height:29px;
    width:15px;
}

 /* Top middle */
.block_um {
    background-image: url(aeolus/top_mid.png);
    height:29px;
}

 /* Upper right */
.block_ur {
    background-image: url(aeolus/top_right.png);
    height:29px;
    width:15px;
}

 /* Left  */
.block_ml {
    background-image: url(aeolus/mid_left.png);
    width:15px;
}

 /* body */
.block_body {
    background-image: url(aeolus/body.png);
    padding: 3px 3px 3px 3px;
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

 /* right */
.block_mr {
    background-image: url(aeolus/mid_right.png);
    width:15px;
}

 /* bottom left */
.block_bl {
    background-image: url(aeolus/bot_left.png);
    height:7px;
    width:15px;
}

 /* bottom middle  */
.block_bm {
    background-image: url(aeolus/bot_mid.png);
    height:7px;
}

 /* bottom right */
.block_br {
    background-image: url(aeolus/bot_right.png);
    height:7px;
    width:15px;
}

/*Forum */
/* Base Forum Table */
.forum_base {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

.forum_board_readicon {
    background-color: #e6eaed;
    border: 1px #707070 solid;
}

.forum_board_linkicon {
    background-color: #e6eaed;
    border: 1px #707070 solid;
}

.forum_board_title {
    background-color: #bbc8d3;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_board_linktitle {
    background-color: #bbc8d3;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_board_linkdesc {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    font-size: 12px;
    padding: 1px 1px 1px 1px;
}

.forum_board_desc {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    font-size: 12px;
    padding: 1px 1px 1px 1px;
}

.forum_board_last {
    background-color: #bbc8d3;
    border: 1px #707070 solid;
}

.forum_board_topics {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    font-size: 12px;
}

.forum_board_posts {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    font-size: 12px;
}


.forum_thread_title {
    background-color: #bbc8d3;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_thread_icon {
    background-color: #e6eaed;
    border: 1px #707070 solid;
}

.forum_thread_last {
    background-color: #e6eaed;
    border: 1px #707070 solid;
}

.forum_thread_author {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll_title {
    background-color: #bbc8d3;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll {
    background-color: #e6eaed;
    padding: 4px;
}

.forum_topic_poll_option {
    background-color: #e6eaed;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll_votebar {
    background-color: #e6eaed;
}

.forum_poll_table {
    border: 1px #707070 solid;
    border-collapse: collapse;
}


/* The set of buttons to edit a post, quote it, view the ip, etc. */
.mod_set {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

.mod_set td {
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
	background-color: #7f9ab5;
}

/* Said button  */
.forum_button {
    border-width: 0px;
    border-spacing: 0px;
    margin: 2px;
    border-style: none;
    border-collapse: collapse;
}

/* cell thing, keeps everything in line */
.forum_button td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
}

 /* post quote */
.quote {
    background-image: url(aeolus/quote.png);
    background-repeat: no-repeat;
    border: 1px dashed black;
    padding: 5px;
}

 /* button text */
.forum_button_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
    color: #FFFFFF;
}

.forum_button_text :link {color: #FFFFFF; text-decoration: none;}

.forum_button_text :visited {color: #FFFFFF; text-decoration: none;}

 /* panel text in the forum (deprecated) */
.forum_base_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

 /* user name in post */
.forum_user {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold
}

 /* post body (did I even use this?) */
.forum_body {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
}

 /* time code */
.forum_time {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
}

 /* quoted text  */
.forum_quote {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

.forum_edit_title {
    display: inline;
    font-size: 10px;
}

.mod_name {
    color: #0000BB;
}

.adm_name {
    color: #00BB00;
}

.glow {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    text-align: center;
}

.glow_admin {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    text-align: center;
    background-image: url(aeolus/glow_admin.png);
    background-repeat: repeat-x;
}
.glow_mod {
    background-color: #e6eaed;
    border: 1px #707070 solid;
    text-align: center;
    background-image: url(aeolus/glow_mod.png);
    background-repeat: repeat-x;
}


.forum_topic_content {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e6eaed;
    border: 1px #707070 solid;
    height: auto;
    padding: 4px;
}

.forum_topic_sig {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e6eaed;
    border: 1px #707070 solid;
    padding: 4px;
    height: 1px;
}

.forum_odd_row {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #bbc8d3;
    border: 1px #707070 solid;
    padding: 4px;
    height: 1px;
}

.forum_profile_user {
    font-family: Verdana, Tahoma, sans;
    font-size: 24px;
    color: #000000;
    background-color: #e6eaed;
    border: 1px #707070 solid;
    height: auto;
    padding: 4px;
}

.forum_button_bar {
    border: 1px #707070 solid;
    border-collapse: collapse;
    background-color: #7f9ab5;
}

.forum_button_bar td {
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
	border-collapse: collapse;
	background-color: #7f9ab5;
}

.forum_topic_buttonbar {
    border: 1px #707070 solid;
    border-collapse: collapse;
    background-color: #7f9ab5;
}

.forum_topic_buttonbar td {
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
	border-collapse: collapse;
	background-color: #7f9ab5;
}

.forum_quickreply {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

.forum_quickreply_box {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e6eaed;
    border: 1px #707070 solid;
    padding: 4px;
}

.forum_quickreply_title {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #bbc8d3;
    border: 1px #707070 solid;
    padding: 2px;
}

.calendar_day {
    background-color: #7f9ab5;
    border: 0px #000000 none;
    padding: 1px 1px 1px 1px;
    font-size: 20px;
    font-style: italic;
}

/*
	PwnBuddy Enhancements
*/
.tab_head_off a {
    text-decoration : none;
    border : 1px solid #000;
    background-image: url(aeolus/body.png);
    color: #4b6f94;
    float : left;
    margin-right : 4px;
    line-height: 13px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
}

.tab_head_off a:hover {
    background-color: #79a7b4;
}

.tab_head_on a {
    text-decoration : none;
    border : 1px solid #000;
    background-color: #7f9ab5;
    color: #c9d7e4;
    border-bottom: 1px solid #7f9ab5;
    margin-right : 4px;
    float : left;
    font-size: 10px;
    line-height: 13px;
    padding-left: 2px;
    padding-right: 2px;
}

.tab_head_on {
    font-family: sans-serif, Tahoma;
    display : inline;
    list-style: none;
    margin: 0;
}

.tab_head_off {
    font-family: sans-serif, Tahoma;
    display : inline;
    list-style: none;
    margin: 0;
}

.tab_contents {
    clear : both;
    background-color: #7f9ab5;
    border: 1px #000 solid;
    border-top: 0;
    font-family: sans-serif, Tahoma;
    font-size: 12px;
    padding-left: 2px;
}

.menu {
    border-bottom: 1px #000 solid;
    margin: 0;
    padding-left: 2px;
    padding-bottom: 14px;
}

.tab {
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    width: 100%;
}

.sidebar {
    padding-right: 4px;

}
.panel {
    padding-top: 2px;
    padding-bottom: 2px;
}

.block {
    padding-top: 2px;
    padding-bottom: 2px;
}

.odd_cell {
    background-color: #E6EAED;
}

/*
    More standard HTML items
*/
/* These better be self explanatory... */
th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
}

td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
}

textarea {
    background-color: #f9fafb;
    color: #4F697C;
    border: 1px solid #707070;
    font-family: Tahoma, sans;
    font-size: 10pt;
}

input {
    background-color: #f9fafb;
    color: #4F697C;
    border: 1px solid #707070;
}

select {
    background-color: #f9fafb;
    color: #4F697C;
    border: 1px solid #707070;
}

body font {
    color: #000000;
}

:link {
    color: #112255;
    text-decoration: underline;
}

:visited {
    color: #112255;
    text-decoration: underline;
}

a:hover {
    color: #FF9900;
    text-decoration: underline;
}

a:link img, a:visited img {
    border-style: none;
}

hr {
    color:  #555555;
    height:   1px;
    width:  50%;
}

