/*
	This file is part of PHPwnage (Crystal Theme)

	Copyright 2008 Kevin Lange <klange@oasis-games.com>

	PHPwnage is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	PHPwnage is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with PHPwnage. If not, see <http://www.gnu.org/licenses/>.

*/

.borderless_table {
    border-width: 0px;
    border-spacing: 0px;
    border-style: none none none none;
    border-collapse: collapse;
    margin: 0px 0px 0px 0px;
}

.sub_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

.foot_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

.pan_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

.pan_title_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold;
    color: #204a87;
}

.footer_body_text {
    font-family: Verdana, Tahoma, sans;
    color: #000000;
}

.block_body_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}

.block_title_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold;
    color: #204a87;
}

.head_left {
    height:110px;
    width:500px;
}

.head_mid {
    height:110px;
}

.head_right {
    height:110px;
    width:10px;
}

.sub_left {
    background-image: url(crystal/sub_left.png);
    height:27px;
    width:11px;
}

.sub_mid {
    background-image: url(crystal/sub_mid.png);
    height:27px;
    vertical-align: top;
    padding: 4px 0px 0px 0px;
}

.sub_right {
    background-image: url(crystal/sub_right.png);
    height:27px;
    width:17px;
}

.foot_left {
    background-image: url(crystal/sub_left.png);
    height:27px;
    width:11px;
}

.foot_mid {
    background-image: url(crystal/sub_mid.png);
    height:27px;
    vertical-align: top;
    padding: 4px 0px 0px 0px;
}

.foot_right {
    background-image: url(crystal/sub_right.png);
    height:27px;
    width:17px;
}

.but_left {
    background-image: url(crystal/sub_left.png);
    height:27px;
    width:11px;
}

.but_mid {
    background-image: url(crystal/sub_mid.png);
    height:27px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.but_right {
    background-image: url(crystal/sub_right.png);
    height:27px;
    width:17px;
}

.pan_ul {
    background-image: url(crystal/block_up_left.png);
    height: 29px;
    width: 10px;
}

.pan_um {
    background-image: url(crystal/block_up_mid.png);
    height: 29px;
}

.pan_ur {
    background-image: url(crystal/block_up_right.png);
    height:29px;
    width:12px;
}

.pan_ml {
    background-image: url(crystal/block_left.png);
    width:10px;
}

.pan_body {
    background-image: url(crystal/block_body.png);
    padding: 3px 3px 3px 3px;
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
}
.pan_mr {
    background-image: url(crystal/block_right.png);
    width:12px;
}

.pan_bl {
    background-image: url(crystal/block_down_left.png);
    height:14px;
    width:10px;
}

.pan_bm {
    background-image: url(crystal/block_down_mid.png);
    height:14px;
}

.pan_br {
    background-image: url(crystal/block_down_right.png);
    height:14px;
    width:12px;
}

/* Block */
.block_ul {
    background-image: url(crystal/block_up_left.png);
    height:29px;
    width:10px;
} /* Upper Left */

.block_um {
    background-image: url(crystal/block_up_mid.png);
    height:29px;
} /* Top middle */

.block_ur {
    background-image: url(crystal/block_up_right.png);
    height:29px;
    width:12px;
} /* Upper right */

.block_ml {
    background-image: url(crystal/block_left.png);
    width:10px;
} /* Left  */

.block_body {
    background-image: url(crystal/block_body.png);
    padding: 3px 3px 3px 3px;
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
} /* body */

.block_mr {
    background-image: url(crystal/block_right.png);
    width:12px;
} /* right  */

.block_bl {
    background-image: url(crystal/block_down_left.png);
    height:14px;
    width:10px;
} /* bottom left */

.block_bm {
    background-image: url(crystal/block_down_mid.png);
    height:14px;
} /* bottom middle  */

.block_br {
    background-image: url(crystal/block_down_right.png);
    height:14px;
    width:12px;
} /* bottom right */

/*
	Forum
*/
/* Base Forum Table */
.forum_base {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

.forum_board_readicon {
    background-color: #e4edf4;
    border: 1px #707070 solid;
}

.forum_board_linkicon {
    background-color: #e4edf4;
    border: 1px #707070 solid;
}

.forum_board_title {
    background-color: #b6d0e0;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_board_linktitle {
    background-color: #b6d0e0;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_board_linkdesc {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    font-size: 12px;
    padding: 1px 1px 1px 1px;
}

.forum_board_desc {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    font-size: 12px;
    padding: 1px 1px 1px 1px;
}

.forum_board_last {
    background-color: #b6d0e0;
    border: 1px #707070 solid;
}

.forum_board_topics {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    font-size: 12px;
}

.forum_board_posts {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    font-size: 12px;
}

.forum_edit_title {
    display: inline;
    font-size: 10px;
}

.forum_thread_title {
    background-color: #b6d0e0;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_thread_icon {
    background-color: #e4edf4;
    border: 1px #707070 solid;
}

.forum_thread_last {
    background-color: #b6d0e0;
    border: 1px #707070 solid;
}

.forum_thread_author {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll_title {
    background-color: #b6d0e0;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll {
    background-color: #e4edf4;
    padding: 4px;
}

.forum_topic_poll_option {
    background-color: #e4edf4;
    padding: 1px 1px 1px 1px;
}

.forum_topic_poll_votebar {
    background-color: #e4edf4;
}

.forum_poll_table {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

/* The set of buttons to edit a post, quote it, view the ip, etc. */
.mod_set {
    border-width: 1px;
    border-style: solid;
    border-color: #707070;
    border-collapse: collapse;
}

.mod_set td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
	background-color: #b6d0e0;
}

/* Said button  */
.forum_button {
    border-width: 0px;
    border-spacing: 0px;
    padding: 0px;
    border-style: none;
    border-collapse: collapse;
}

/* cell thing, keeps everything in line */
.forum_button td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
}

.quote {
    background-image: url(crystal/quote.png);
    background-repeat: no-repeat;
    border: 1px dashed black;
    padding: 5px;
    padding-top: 18px;
} /* post quote */

.forum_button_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
    color: #000000;
} /* button text */

.forum_button_text :link {
    color: #000000;
    text-decoration: none;
}

.forum_button_text :visited {
    color: #000000;
    text-decoration: none;
}

.forum_button_text :hover {
    color: #CCCCCC;
    text-decoration: none;
}

.forum_base_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
} /* panel text in the forum */

.forum_user {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold;
} /* user name in post */

.forum_body {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
} /* post body */

.forum_time {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
} /* time code */

.forum_quote {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
} /* quoted text  */

.mod_name {
    color: #73d216;
}
.adm_name {
    color: #f57900;
}

.glow {
    background-color: #e4edf4;
    border: 1px #707070 solid;
    text-align: center;
}

.glow_admin {
    background-color: #e4edf4;
    background-image: url(crystal/adm_back.png);
    background-repeat: no-repeat;
    border: 1px #707070 solid;
    text-align: center;
}

.glow_mod {
    background-color: #e4edf4;
    background-image: url(crystal/mod_back.png);
    background-repeat: no-repeat;
    border: 1px #707070 solid;
    text-align: center;
}

.forum_topic_content {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e4edf4;
    background-image: url(crystal/forum_topic_content.png);
    background-repeat: repeat-x;
    border: 1px #707070 solid;
    height: auto;
    padding: 4px;
}

.forum_topic_sig {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e4edf4;
    border: 1px #707070 solid;
    padding: 4px;
    height: 1px;
}

.forum_odd_row {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #b6d0e0;
    border: 1px #707070 solid;
    padding: 4px;
    height: 1px;
}

.forum_profile_user {
    font-family: Verdana, Tahoma, sans;
    font-size: 24px;
    color: #000000;
    background-color: #e4edf4;
    background-image: url(crystal/forum_topic_content.png);
    background-repeat: repeat-x;
    border: 1px #707070 solid;
    height: auto;
    padding: 4px;
}

.forum_button_bar {
    padding: 0px;
    background-color: #e4edf4;
    background-image: url(crystal/forum_button_bar.png);
    background-position: bottom;
    background-repeat: repeat-x;
    border: 1px #707070 solid;
    margin: 0px;
    height: 1px;
}

.forum_topic_buttonbar {
    background-color: #e4edf4;
}

.forum_quickreply {
    border: 1px #707070 solid;
    border-collapse: collapse;
}

.forum_quickreply_box {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    color: #000000;
    background-color: #e4edf4;
    background-image: url(crystal/forum_topic_content.png);
    background-repeat: repeat-x;
    border: 1px #707070 solid;
    padding: 4px;
}

.forum_quickreply_title {
    font-family: Verdana, Tahoma, sans;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #b6d0e0;
    border: 1px #707070 solid;
    padding: 2px;
}

/*
	PwnBuddy Enhancements
*/
.tab_head_off a {
    text-decoration : none;
    border : 1px solid #000;
    background-image: url(crystal/block_body.png);
    color: #204a87;
    float : left;
    margin-right : 4px;
    line-height: 13px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
}

.tab_head_off a:hover {
    background-color: #b6d0e0;
}

.tab_head_on a {
    text-decoration : none;
    border : 1px solid #000;
    background-color: #b6d0e0;
    color: #204a87;
    border-bottom: 1px solid #b6d0e0;
    margin-right : 4px;
    float : left;
    font-size: 10px;
    line-height: 13px;
    padding-left: 2px;
    padding-right: 2px;
}

.tab_head_on {
    font-family: sans-serif, Tahoma;
    display : inline;
    list-style: none;
    margin: 0;
}

.tab_head_off {
    font-family: sans-serif, Tahoma;
    display : inline;
    list-style: none;
    margin: 0;
}

.tab_contents {
    clear : both;
    background-color: #b6d0e0;
    border: 1px #000 solid;
    border-top: 0;
    font-family: sans-serif, Tahoma;
    font-size: 12px;
    padding-left: 2px;
}

.menu {
    border-bottom: 1px #000 solid;
    margin: 0;
    padding-left: 2px;
    padding-bottom: 14px;
}

.tab {
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    width: 100%;
}

.sidebar {
    
}

.panel {
    
}

.block {
    
}

.odd_cell {
    background-color: #e4edf4;
}


.forum_page {
    height: 14px;
    border: 1px solid #707070;
    background-color: #b6d0e0;
    padding: 2px;
}

.page_spacer {
    padding: 2px;
}

.page_text {
    font-family: Verdana, Tahoma, sans;
    font-size: 10px;
    color: #000000;
}

.page_text :link {
    color: #000000;
    text-decoration: none;
}

.page_text :visited {
    color: #000000;
    text-decoration: none;
}

.page_text :hover {
    color: #CCCCCC;
    text-decoration: none;
}

.calendar_day {
    background-color: #b6d0e0;
    border: 0px #000000 none;
    padding: 1px 1px 1px 1px;
    font-size: 20px;
    font-style: italic;
}

hr {
    color:  #555555;
    height:   1px;
    width:  50%;
}

/*
	Basic pieces, very important.
*/
/* These better be self explanatory... */
th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
}

td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
}

textarea {
    background-color: #EEEEEC;
    color: #204a87;
    border: 1px solid #707070;
    font-family: Verdana, Tahoma, sans;
    font-size: 10pt;
}

input {
    background-color: #EEEEEC;
    color: #204a87;
    border: 1px solid #707070;
}

select {
    background-color: #EEEEEC;
    color: #204a87;
    border: 1px solid #707070;
}

body font {
    color: #000000;
}
:link {
    color: #204a87;
    text-decoration: none;
}
:visited {
    color: #204a87;
    text-decoration: none;
}
a:hover {
    color: #75507b;
    text-decoration: underline;
}

a:link img, a:visited img {
    border-style: none;
}
